[submodule "Alfredo-NoU2"]
	path = Alfredo-NoU2
	url = git@github.com:morzack/Alfredo-NoU2.git
[submodule "ArduinoJson"]
	path = ArduinoJson
	url = git@github.com:bblanchon/ArduinoJson.git
[submodule "ArduinoWebsockets"]
	path = ArduinoWebsockets
	url = https://github.com/gilmaimon/ArduinoWebsockets.git
